body {
    background-color: rgb(241, 199, 206);
}
.container h1{
    text-align: center;
    color: red;
    font-size: 40px;
    text-decoration: underline green;
}
.container h4{
    color: blue;
    text-align: center;
    padding: 0;
    margin: 0;
}
.type{
    border: 2px red solid;
    margin: 20px;
}
.type h2{
    color: green;
    text-align: center;
}
.type li{
    margin: 5px;
    color: brown;
    font-size: 19px;
    font-family: monospace;
}
.type li p{
    color: green;
}